<%- include('../partials/header') %>
<h1>skills</h1>
<ul>
  <% skills.forEach((skill) => { %>
  <li><a href="/skills/<%= skill.id %>"><%= skill.name %></a></li>
  <% }); %>
</ul>
<a href="/">Home</a>
<%- include('../partials/footer') %>
